@import "tailwindcss";

@theme {
  --color-primary: #0052FF;
  --color-secondary: #0A0F29;
  --color-accent: #00D2FF;
  --color-success: #00C853;
  --color-danger: #FF3D00;
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}